/**/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Sofia+Sans:wght@400;500;700&display=swap');

body {
   font-family: 'Sofia Sans', Arial, sans-serif; 
   background-color:#EBECEE;
   font-size: 24pt;
   margin: 0;
}

h1, h2, h3 {
    font-family: 'DM Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a {
    margin-top:0;
    color: #031A3A;
}

p {
    font-size: 1.5rem;
    margin-bottom: 1.5em;
}

h1 {
    font-size: 3em;
    
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2.25rem;
}

h4 {
    font-size: 1rem;
    text-transform: uppercase;
    color: #808080;
}

h5 {
    font-size: 0.8em;
}

h6 {
    font-size: 1.24rem;
}




a {
    font-size: 1em;
    color: ;
    text-decoration-thickness: ;
    text-decoration-color: ;
}

a:hover {
    text-decoration-color: 
}

#rectangle {
    width: 72px;
    height: 486px;
    background: rgba(204, 226, 255, 1);
}

/* This makes the image* responsive. */
img {
    height: auto;
    max-width: 100%;
}
/* ------ Main Content Area Styles ------*/
main {
    padding: 0 8rem 0 8rem;
}


/* ----- Hero Section Styling ---- */

#container {
    position: relative;
    background-image: linear-gradient(180deg, rgba(235, 240, 250, 1), rgba(235, 236, 238, 1), rgba(255, 231, 229, 0.34));
    background-size: 100%;
    min-height: 100vh;
    margin-bottom: 5.6rem;
}

section.hero-area {
    /* max-width: 60vh; */
    display: grid;
    position: relative;
    z-index: 1;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: auto;
    gap: 1em;
    height: 90vh;
    margin-bottom: 1rem;
    padding: 0 8rem 0 8rem;
    align-items: center; 
    background-blend-mode: multiply;
    background: url(../img/lines.png);
    background-size: cover; 
    background-position: center;  
    background-repeat: no-repeat; 

}
.video-container {
    display: inline-block;
    width: 32%; 
    height: 76px; 
    overflow: hidden; 
    position: relative;
}


.hero-headline {
    display: flex; 
    flex-direction: row;
    gap: 20px; 
    align-items: center;
    flex-wrap: nowrap;
    
}

.title {
    text-transform: uppercase; 
    width: auto; 
    display: inline-block;
    flex: 1;
}



.main h2 {
    text-transform: uppercase; 
}

/* ------ Navigation Styles -------- */
  
header {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    align-items: center; 
    width: auto;
    z-index: 50;
    padding: 4rem 4rem 4rem 8rem;
}

.logo {
    display: block;
}

nav {
    display: flex;
    gap: 1em;
    border-top: 1px solid rgba(255, 128, 48, 1);
    padding-top: 1rem;
}


.hero-discription {
    position: relative;
  
}

nav a {
    text-decoration: ;
    padding: ;
}

nav a:hover {
    color: 

}

.background {
    background: url(../img/dots.png);
    width: 14.25rem;
    height: 14.25rem;
    position: absolute;
    left: 336px;
    top: -62px;
    z-index: -1;
}



/* --------- Main Grid Style ---------- */
.case-study {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-gap: 1em;
}

.uph {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin: 0;
}

.case-study h6 {
    display: inline-block;
    align-items: center;
    color: rgba(0, 74, 173, 1);
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 8px;
    background: #D8E6F8;
    padding: 0.5rem 1rem 0.5rem 1rem;
} 

button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #031A3A;
    font-family: "Sofia Sans";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    border-radius: 8px;
    border: 3px solid #FF8030;
    background: rgba(255, 231, 229, 0.54);
    background-position: right 3em bottom 10px;
}

footer {
    display: block;
    p
}
.case-study-header {
    background-color: rgba(204, 226, 255, 1);
}

.hero-case-study {
    padding-left: 8rem;
    background-color: rgba(204, 226, 255, 1);
}
