/**/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Sofia+Sans:wght@400;500;700&display=swap');

html, body {
    overflow-x: hidden;
    max-width: 100vw;
}

body {
   font-family: 'Sofia Sans', Arial, sans-serif; 
   background-color:#EBECEE;
   font-size: 1.5rem;
   line-height: 1.6;
   margin: 0;
   width:;
}

h1, h2, h3 {
    font-family: 'DM Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a {
    margin-top:0;
    color: #031A3A;
}

p {
    font-size: 1.5rem;
    margin-bottom: 1.5em;
}

h1 {
    font-size: 6rem;
    
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2.25rem;
}

h4 {
    font-size: 1rem;
    text-transform: uppercase;
    color: #808080;
}

h5 {
    font-size: 0.8em;
}

h6 {
    font-size: 1.24rem;
}

.humburger-icon {
    display: none;
}

.hb-menu-open{
    visibility: hidden;
   background: linear-gradient(180deg, #EBF0FA 0%, #EBECEE 58.26%, #FFE7E5 117.7%);
   height: 100vh;
    width: 100vw; /* Make it full-screen */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start; 
    padding: 2rem; 
    z-index: 1000; 
}

.close-icon {
    align-self: flex-end;
    margin-right: 1.5rem;
}

.close-icon img {
    width: 50%;
    height: auto;
    display: block;

}

.hm-links {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    gap: 1.5rem;
}


a {
    font-size: 1em;
    text-decoration: none;
    text-decoration-color: ;
}

a:hover {
    text-decoration: underline ;
    tex
}


/* This makes the image* responsive. */
img {
    height: auto;
    max-width: 100%;
}
/* ------ Main Content Area Styles ------*/
main {
    padding: 0 8rem 0 8rem;
    box-sizing: border-box;
    max-width: 100%;
}


/* ----- Hero Section Styling ---- */

#container {
    position: relative;
    background-image: linear-gradient(180deg, rgba(235, 240, 250, 1), rgba(235, 236, 238, 1), rgba(255, 231, 229, 0.34));
    background-size: 100%;
    min-height: 100vh;
    margin-bottom: 5.6rem;
}

section.hero-area {
    /* max-width: 60vh; */
    display: grid;
    position: relative;
    z-index: 1;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: auto;
    gap: 1em;
    height: 90vh;
    margin-bottom: 1rem;
    padding: 0 8rem 0 8rem;
    align-items: center; 
    background-blend-mode: multiply;
    background: url(../img/lines.png);
    background-size: cover; 
    background-position: initial;  
    background-repeat: no-repeat; 

}
.video-container {
    display: inline-block;
    width: 32%;
    position: relative;
}


.hero-headline {
    display: flex; 
    flex-direction: row;
    gap: 20px; 
    align-items: center;
    flex-wrap: nowrap;
    
}

.title {
    text-transform: uppercase; 
    width: auto; 
    display: inline-block;
    flex: 1;
}



.main h2 {
    text-transform: uppercase; 
}

/* ------ Navigation Styles -------- */
  
header {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    align-items: center; 
    max-width: 100%;
    z-index: 50;
    padding: 4rem 8rem 4rem 8rem;
}

.logo {
    display: block;
}

nav {
    display: flex;
    gap: 1em;
    border-top: 1px solid rgba(255, 128, 48, 1);
    padding-top: 1rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}


.hero-discription {
    position: relative;
  
}

nav a {
    text-decoration: ;
    padding: ;
}

nav a:hover {
    color: 
}

.topnav .icon {
    display: none;
  }


.background {
    background: url(../img/dots.png);
    width: 14.25rem;
    height: 14.25rem;
    position: absolute;
    left: 336px;
    top: -62px;
    z-index: -1;
}



/* --------- Main Grid Style ---------- */
.case-study-1 {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-gap: 1em;
    margin-bottom: 2rem;
    justify-items: start;
}

.uph {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin: 0;
}

.works h3{
    margin-bottom: 1rem;
}

.case-study-1 h6 {
    display: inline-block;
    align-items: center;
    color: rgba(0, 74, 173, 1);
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 8px;
    background: #D8E6F8;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-bottom: 1rem;
} 

.works p {
    margin-bottom: 1.5rem;
}

button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #031A3A;
    background: transparent;
    font-family: "Sofia Sans";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    border-radius: 8px;
    border: 3px solid #FF8030;
    box-shadow: 12px 12px 2px 1px rgba(255, 231, 229, 0.54);
}

.case-study-2 {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-gap: 1em;
    margin-bottom: 2rem;
    margin-top: 4rem;
    justify-items: end;
}

.shovkovo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin: 0;
}

.case-study-2 h6 {
    display: inline-block;
    align-items: center;
    color: rgba(18, 18, 18, 1);
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 8px;
    background: rgba(185, 185, 185, 1);
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-bottom: 1rem;
} 

.rectangle-shovkovo {
    width: 72px;
    height: 486px;
    background: rgba(18, 18, 18, 1);
}

footer {
    margin-top: 4rem;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
   
footer h2 {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

footer h6{
    text-transform: uppercase;
}

footer img {
    padding: 0 1rem 0 1rem;
    margin: 1.5rem 0 1.5rem 0;
}




@media (max-width: 1342px) {

    p {
        font-size: 1.3rem;
    }

    .logo {
        width: 50%;
    }

    header {
        padding: 4rem 4rem 4rem 4rem;
    }   

    section.hero-area {
        display: block;
        height: auto;
    }

    #container {
        min-height: 94vh;
        margin-bottom: 2rem;
    }

    .case-study-1, .case-study-2 {
        display: block;
        justify-items: start;
    }

    .uph{
        margin-bottom: 2rem;
    }

    .shovkovo {
        margin-top: 2rem;
    }

    main {
        padding: 0 4rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.3rem;
    }

    h3 {
        font-size: 2rem;
        line-height: 1.2;
    }

    h6 {
        font-size: 1rem;
    }

    .hero-area {
        grid-template-columns: 1fr;
    }

    body {
        font-size: clamp(1rem, 2.5vw, 1.5rem); 
    }    

    footer{
        margin-top: 3rem;
    }

    footer img {
        margin: 0 0 1rem 0;
    }

}

@media (max-width: 650px) {

    #container {
        min-height: 78vh;
    }

  section.hero-area {
        padding: 0 4rem 0 4rem;
    }

    .video-container {
        display: none;
    }

    .background {
        display: none;
    }

    h1 {
        font-size: 2.2rem;
        text-align: center;
        line-height: 1.2;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.6rem;
        line-height: 1.2;
    }

    h6 {
        font-size: 0.8rem;
    }

    p {
        font-size: 1rem;
    }

    button {
    font-size: 1.2rem;
    }

    .case-study-1 h6, .case-study-2 h6 {
        padding: 0.3rem 0.8rem 0.3rem 0.8rem;
        margin-bottom: 0.5rem;
    }

}

@media (max-width: 420px) {
    header {
        padding: 4rem 1.5rem 4rem 1.5rem;
    }   

    section.hero-area {
        padding: 0 1.5rem 0 1.5rem;
    }

    .works {
        padding: 0 1.5rem;
    }

    #container {
        min-height: 62vh;
    }

    h1 {
        font-size: 1.5rem;
        text-align: center;
        line-height: 1.2;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1rem;
        line-height: 1.2;
    }

    h4 {
        font-size: 0.8rem;
    }

    h6 {
        font-size: 0.6rem;
    }

    button {
    font-size: 0.8rem;
    }

    p {
        font-size: 0.8rem;
        line-height: 1.2;
    }

    footer img {
        width: 10%;
        padding: 0 0.5rem 0 0.5rem;
    }
}


/* --------- Case Study Style ---------- */

header.case-study-header-uph {
    background: rgba(204, 226, 255, 1);
}

section.hero-case-study-uph {
    display: grid;
    grid-template-columns: 1fr 0.75fr;
    grid-template-rows: auto;
    gap: 1em;
    align-items: center;
    place-items: center;
    max-width: 100%;
    padding: 4rem 8rem 4rem 8rem;
    background-color: rgba(204, 226, 255, 1);
    height: 90vh;
    margin-bottom: 4rem;
    padding: 0 8rem 0 8rem;
}

.project-name h4 {
    color: #031A3A;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.about p, .case-study-grid p, ul{
    font-size: 1.2rem;
}

.intro {
    display: grid;
    grid-template-columns: 1fr 0.75fr;
    gap: 3rem;
    margin-bottom: 4rem;
}

.full-width-bg {
    background-color: rgba(223, 227, 237, 1);
    width: 100%;
    position: relative;
}

.video-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%; 
    max-width: 1253px; 
    margin: 0 auto 4rem; 
    overflow: hidden;
}

.video-section video {

    width: 100%; 
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.context {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 2rem;
    margin-bottom: 4rem;
}

.statement {
    display: block;
    background-color: rgba(223, 227, 237, 1);
    padding: 8rem 8rem;
    margin-bottom: 4rem;
}

.statement h3{
    text-align: center;
}

.problem {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 2rem;
    margin-bottom: 4rem;
}

.old{
    display: block;
    background-color: rgba(223, 227, 237, 1);
    padding: 8rem 8rem;
    margin-bottom: 4rem;
}

.old h3{
    text-align: center;
}

.uph-home{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.research {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 2rem;
    margin-bottom: 4rem;
}

.persona{
    display: block;
    background-color: rgba(223, 227, 237, 1);
    padding: 8rem 8rem;
    margin-bottom: 4rem;
}

.persona h3{
    text-align: center;
}

.persona figure {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.analysis {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 2rem;
    margin-bottom: 4rem;
}

.moodboard {
    display: block;
    background-color: rgba(223, 227, 237, 1);
    padding: 8rem 8rem;
    margin-bottom: 4rem;
}

.moodboard h3 {
    text-align: center;
}

.design {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 2rem;
    margin-bottom: 4rem;
}

.redesign{
    display: block;
    background-color: rgba(223, 227, 237, 1);
    padding: 8rem 2rem;
    margin-bottom: 4rem;
}

.redesign h3{
    text-align: center;
}

.result {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 2rem;
    margin-bottom: 4rem;
}

.takeaways {
    display: block;
    background-color: rgba(223, 227, 237, 1);
    padding: 8rem 8rem;
    margin-bottom: 4rem;
}

.takeaways h3 {
    text-align: center;
}

.page-navigation {
    display: flex;
    align-items: flex-start;
    padding: 2rem 0;
    border-bottom: 1px solid rgba(3, 26, 58, 1);
}

.navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.prev {
    cursor: pointer;
    color: #555;
    transition: color 0.3s ease-in-out;
}

.next-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.next {
    cursor: pointer;
    color: #555;
    transition: color 0.3s ease-in-out;
}

.prev:hover, .next:hover {
    color: #000;
}

.next-section h3 {
    margin-top: 0.5rem;
    font-weight: bold;
}

.implementation {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 2rem;
    margin-bottom: 4rem;
}

.case-study-header-sh {
    background-color: rgba(222, 222, 222, 1);
}

section.hero-case-study-shovkovo {
    display: grid;
    grid-template-columns: 1fr 0.75fr;
    grid-template-rows: auto;
    gap: 1em;
    align-items: center;
    place-items: center;
    max-width: 100%;
    padding: 4rem 8rem 4rem 8rem;
    background-color: rgba(222, 222, 222, 1);
    height: 90vh;
    margin-bottom: 4rem;
    padding: 0 8rem 0 8rem;
}

.ideation{
        display: block;
        background-color: rgba(223, 227, 237, 1);
        padding: 8rem 2rem;
        margin-bottom: 4rem;
    }
    
.ideation h3{
    text-align: center;
 }
    
 .ideation figure {
        display: flex;
        justify-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 1.5rem;
    }

    .about {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        align-items: center;
        gap: 8rem;
        margin-top: 4rem;
        margin-right: 8rem;
    }

    .resume {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .resume h5 {
        margin-bottom: 0;
    }

    .header-about {
        background: linear-gradient(180deg, #EBF0FA 0%, #EBECEE 58.26%, rgba(255, 231, 229, 0.34) 117.7%);
    }

    section.about{
        margin-bottom: 4rem;
    }

    @media (max-width: 1342px) {
        .video-section video {
            width: 85%;
    }

    .video-section {
        height: 82vh;
    }

    section.hero-case-study-uph, section.hero-case-study-shovkovo {
        padding: 0 4rem 0 4rem;
    }

    .ideation img {
        max-width: 80%;
    }
}

@media (max-width: 810px) {
    .video-section {
        height: 48vh;
    }

    .statement, .old, .persona, .moodboard, .redesign, .takeaways, .ideation {
        padding: 4rem 4rem;
    }

}


@media (max-width: 650px) {
    section.hero-case-study-uph, section.hero-case-study-shovkovo {
        display: block;
        height: auto;
    }

    section.hero-case-study-uph img, section.hero-case-study-shovkovo img {
        margin-bottom: 2rem;
    }

    .study-grid p, ul {
        font-size: 1rem;
    }

    .intro, .context, .problem, .research, .analysis, .design, .result, .implementation {
        display: block;
    }

    .statement, .old, .persona, .moodboard, .redesign, .takeaways, .ideation {
        padding: 1rem 1rem;
    }

    .about p, .case-study-grid p, ul{
        font-size: 1rem;
    }

    .project-name{
    text-align: center;
    }
}
